@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-blink {
	animation: blink 0.5s linear infinite;
}

.quote-notification {
	animation: slideLeft 0.5s ease-in-out;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
